{:id "remote-ok"
 :name "remote|ok"
 :url "https://remoteok.io/"
 :logo nil
 :desc "The largest collection of 25000+ Remote Jobs for Digital Nomads as Software Engineer, Devops Engineer, Full Stack Developer, Front End Developer ..."
 :creator "levelsio"}
